.card-head {
  color:#6b0b0b;
  font-size: 25px;
}
.nombre {
  color: #4e0404;
  font-size: 25px;
  padding-right: 60px;
}
.ver-mas {
  border-color: #8546c4;
  border-radius: 25%;
  padding: 10px;
}
.descripcion {
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
  color: #570b0b;
}
